*{
    margin-left: 10px;
    margin-right: 10px;
    background-color: #DBDBDB;
    font-family: 'Fira Sans Condensed', sans-serif;
}

h1{
    padding-top: 10px;
    padding-bottom: 20px;
    /* position:sticky; */
    /* top: 10px; */
    text-align: center;
    font-size: 100px;
    font-family:'Times New Roman';
    font-weight: bold;
    color: #0D28FA;
    background-color: #E8E8E8;
    font-family: 'Dancing Script', cursive;
}

hr{
    margin: 0%;
    color: black;
    background-color: black;
}
h2{
    margin-top: 5px;
    font-size: 30px;
    font-weight: bold;
    color: #F50029;
}

p{
    margin-left: 20px;
    margin-top: 7px;
    font-size: 20px;


}
ul{
    margin-left: 30px;
    font-size: 20px;
    list-style-type:disc
}
#hr2{
    margin-top: 10px;
}
ol{
    list-style-type: decimal;
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
}
footer{
    padding: 30px;
    text-align: center;
    background-color: gray;
}